extends ../../../../layout/guide/preview.jade

block tldr
  :markdown
    ### プレビュー
    
    USERDIVE ではタグを設置いただいたページ（またはダミーページ）の情報の取得・保存を行います。
    これにより、過去のページ
  
    ### ダミーページ
  
    USERDIVE では、   
    必要なものには下記のようなものがあります。
    
    - URLに対して
    - ログインした状態の時のみ閲覧可能なページ
    - フォーム
    
    ### 必要なこと
    
    ダミーページに関する作業には下記の２つが必要な作業になります
    
    - [ダミーページの作成](../devguide/dummy-pages.html)
    - [ダミーページを指定して計測を開始する](../devguide/javascript/api/create.html)
    
    #### メリット/デメリット

    ダミーページの設定に対するメリット/デメリットを記載します。
    
    ##### メリット
    
    メリットには下記のような項目があります。
    
    - エンドユーザがアクションを起こしていたページの状態を明確に指定できる
    
    ##### デメリット 
  
    デメリットには以下のような項目があります。
    
    - ダミーページの開発が必要 
