extends ../../../../layout/guide/snapshot.jade

block tldr
  :markdown
    ### ウェブスナップショット

    USERDIVE ではタグを設置いただいたウェブページ（または仮想ページ）から
    ウェブスナップショットを作成します。
    これにより、過去データとの比較を行うことができます。

    スナップショットを利用できる機能は下記の３つです。

    - ヒートマップ分析
    - フォーム分析
    - 動画分析

    ### 仮想ページ

    USERDIVE では、ウェブページに対して仮想ページを指定することができます。
    仮想ページの指定を推奨しているものには、下記のようなものがあります。

    - ログインした状態の時のみ閲覧可能なページ
    - フォーム(セッション情報を引き継いでいるもの)

    ### 必要なこと

    仮想ページに関する作業には下記の２つが必要な作業になります

    - [仮想ページの作成](../devguide/virtual-page.html)
    - [仮想ページを指定して計測を開始する](../devguide/javascript/api/create.html)

    #### メリット/デメリット

    仮想ページの設定に対するメリット/デメリットを記載します。

    ##### メリット

    メリットには下記のような項目があります。

    1. ユーザがアクションを起こしていたスナップショットを明確に指定し、作成することができる
    1. 個人情報を含まない安全なスナップショットを扱うことができる

    ##### デメリット

    デメリットには下記のような項目があります。

    1. 仮想ページの開発が必要
    1. サイトをリニューアルされた際、更新が必要
