extends ../../../../../layout/base.jade

block resources 
    link(rel='stylesheet', type='text/css', media='screen', href='../../../../../assets/docs.bundle.css')
    script(async, src='../../../../../assets/docs.bundle.js')

block content
  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      include:marked ./index.md
