extends ../../../base.jade

mixin params(name, type, required, desc)
  tr 
    td.mdl-data-table__cell--non-numeric= name
    td= type
    td= required
    td= desc

block resources 
    script(src='../../../../../assets/top.bundle.js')
    link(rel='stylesheet', type='text/css', media='screen', href='../../../../../assets/top.bundle.css')

block content
  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      block tldr 
      
      :markdown
        ```html
        <script>
        ud("create", "xx-xx");
        </script>
        ```

  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      block multi-project
      
      :markdown
        ```html
        <script>
        ud("create", {pc: "xx-xx", sp: "yy-yy"});
        </script>
        ```
  
  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      block dummy-page
    
      table.mdl-data-table.mdl-js.data-table
        thead
          tr
            th.mdl-data-table__cell--non-numeric Field 
            th Type 
            th Required 
            th Description 
        tbody
          +params('overrideUrl', 'String', 'No', 'dummy page url')
      
      :markdown
        ```html
        <script>
        ud("create", "xx-xx", {
          "overrideUrl": "http://userdive.com"
        });
        </script>
        ```
  
  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      block custom-var 
      
      table.mdl-data-table.mdl-js.data-table
        thead
          tr
            th.mdl-data-table__cell--non-numeric Field 
            th Type 
            th Required 
            th Description 
        tbody
          +params('customVar', 'Array', 'No', 'custom var')
      
      :markdown
        ```html
        <script>
        ud("create", "xx-xx", {
          "customVar": ["foo"] 
        });
        </script>
        ```
  
  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      block cookie-domain
      
      table.mdl-data-table.mdl-js.data-table
        thead
          tr
            th.mdl-data-table__cell--non-numeric Field 
            th Type 
            th Required 
            th Description 
        tbody
          +params('cookieDomain', 'String', 'No', 'cookieDomain')
      
      :markdown
        ```html
        <script>
        ud("create", "xx-xx", {
          "cookieDomain": "userdive.com" 
        });
        </script>
        ```
