extends ../../../base.jade

mixin params(name, type, required, desc)
  tr
    td.mdl-data-table__cell--non-numeric= name
    td= type
    td= required
    td= desc

block resources
    link(rel='stylesheet', type='text/css', media='screen', href='../../../../../assets/devguide.bundle.css')
    script(async, src='../../../../../assets/devguide.bundle.js')

block content
  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      block tldr

  .mdl-grid
    .mdl-cell.mdl-cell--8-col
      table.mdl-data-table.mdl-js.data-table
        thead
          tr
            th.mdl-data-table__cell--non-numeric Field
            th Type
            th Required
            th Description
        tbody
          +params('setCustomVar', 'Array', 'No', 'custom var')

      :marked
        ```html
        <script>
        ud("setCustomVar", ['foo']);
        </script>
        ```

      block detail
