extends ../../../../../../layout/devguide/javascript/api/create.jade

block tldr
  :markdown
    ### create メソッド
  
    - アカウント情報の設定
      - 複数プロジェクトの設定
    - ダミーページURLの設定
    - カスタム変数の設定
    - cookieDomainの設定 

block multi-project
  :markdown
    ### 複数プロジェクトの設定
    
    複数のプロジェクト情報を登録することが可能です

block dummy-page
  :markdown
    ### ダミーページ
    
    [ダミーページ](#)の設定を行うAPI
  
block custom-var
  :markdown
    ### カスタム変数

    [カスタム変数の詳細](#)

block cookie-domain
  :markdown
    ### cookie ドメインの設定
