extends ../../../../../../layout/devguide/javascript/api/create.jade

block tldr
  :markdown
    ### `create` メソッド
    
    USERDIVE ではトラッカーに
  
    - プロジェクト情報の設定
      - 複数プロジェクトの設定
    - ダミーページ URL の設定
    - カスタム変数の設定
    - cookieDomainの設定

block multi-project
  :markdown
    #### 複数プロジェクトの設定
    
    複数のプロジェクト情報を登録することが可能です

block dummy-page
  :markdown
    #### ダミーページ
    
    [ダミーページ](../../../guide/dummy.html)の設定を行う API
  
block custom-var
  :markdown
    #### カスタム変数

    [カスタム変数の詳細](../../../guide/customvar.html)

block cookie-domain
  :markdown
    #### cookie ドメインの設定
    
