doctype html
html
  head
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include ./gtm.jade
    block resources
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--waterfall
        .mdl-layout__header-row
          a(href='/')
            span.mdl-layout-title Userdive Help Center
          .mdl-layout-spacer
          form(action='https://www.google.co.jp/search', target='_blank')
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='waterfall-exp')
                i.material-icons search
              .mdl-textfield__expandable-holder
                input(type='hidden', name='q', value='site:https://docs.userdive.com')
                input#waterfall-exp.mdl-textfield__input(type='text', name='q')
        .mdl-layout__header-row
          .mdl-layout-spacer
          nav.mdl-navigation
            include ./nav/en/link.jade
      .mdl-layout__drawer
        span.mdl-layout-title Menu
        nav.mdl-navigation
          include ./nav/en/link.jade
      main.mdl-layout__content
        .page-content
          block content

      footer.mdl-mega-footer
        .mdl-mega-footer__bottom-section
          .mdl-logo Uncovertruth Co., Ltd
          ul.mdl-mega-footer__link-list
            li
              a(href='http://userdive.com/service/') Userdive
            li
              a(href='http://userdive.com/apps/') Userdive for Apps
            li
              a(href='http://userdive.com/clause/') Terms
